/* Hide the system cursor only if on desktop */
body.desktop * {
  cursor: none !important;
}

.custom-cursor {
  display: none; /* Hide by default */
}

body.desktop .custom-cursor {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../svg/custom-cursor-hover.svg") no-repeat center/contain;
  pointer-events: none;
  z-index: 99999;
  transition: transform 0.05s linear;
}

body.desktop .custom-cursor.clicking {
  background-image: url("../svg/custom-cursor-click.svg");
}
